<div class="row">
    <div class="center-div">
        <h3>Baby Monitor</h3>
        <video id="stream" controls></video>
    </div>
</div>
<div class="row" style="padding-top: 25px;">
    <div class="center-div">
        <canvas id="temp"></canvas>
        <canvas id="pressure"></canvas>
        <canvas id="humidity"></canvas>
    </div>
</div>
